.login-screen {
  background-image: url('/assets/images/login/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &_logo {
    width: 120px;
    margin-bottom: 1rem;
  }
}
